<footer>
    <div class="footer-bottom">
        <p>CLT Improv &copy; 2023</p>
        <div class="footer-links">
            <p><a href="/about">About Us</a></p>
            <p><a href="/contact">Contact Us</a></p>
            <a href="#" class="social-icon" id="twitter-icon"><img src="/public/images/twitter-logo.jpg" alt="Twitter"></a>
            <a href="#" class="social-icon" id="facebook-icon"><img src="/public/images/facebook-logo.png" alt="Facebook"></a>
        </div>
    </div>
</footer>
</body>
</html>