<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CLT Improv</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="header-content">
                <div class="logo">
                    <a href="/"><img src="/images/improvlogo.png" alt="CLT Improv Logo"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="/events">Events</a></li>
                        <li><a href="/events/new">New Event</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                        
                        <% if (user) { %>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            <div class="header-divider"></div>
        </header>

