<%- include ('./partials/header.ejs') %>

<div class="main-content">
    <h1><b>About CLT Improv!</b></h1>
    <p>This is a platform to participate and create events for CLT Improv. Whether you are a club leader, a member, or someone looking to join the club.</p>
    <p>Check out the Events section to browse available events</p>
</div>
<%- include ('./partials/footer.ejs') %>