<%- include ('./partials/header.ejs') %>
        <div class="main-content">
            <h1><b>Welcome to CLT Improv!</b></h1>
            <p>Come join us to learn or sharpen your improv skills! We are a group of people who love expressing ourselves and practicing our communication skills!</p>
            <p>Great for beginners, intermediate, and advanced!</p>
        </div>
<%- include ('./partials/footer.ejs') %>