<%- include('../partials/header.ejs')%>
        <div class="main-content">
            <h1><b>Create a New Event</b></h1>

            <form id="new-event-form" action="/events" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="title">Event Name</label>
                    <input type="text" id="title" name="title" placeholder="title">

            <div class="form-group">
                <label for="category">Category</label>
                <select id="category" name="category" required>
                    <option value="Afternoon Session">Afternoon Session</option>
                    <option value="Evening Session">Evening Session</option>
                    <option value="Freestyle">Freestyle</option>
                    <option value="Junior">Junior</option>
                    <option value="Middle">Middle</option>
                    <option value="Senior">Senior</option>
                    <option value="Free Range">Free Range</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="form-group">
                <label for="event-location">Location</label>
                <input type="location" id="location" name="location" placeholder="Location">
            </div>

            <div class="form-group">
                <label for="startTime">Start Date</label>
                <input type="datetime-local" id="startTime" name="startTime" placeholder="Start Time">
            </div>

            <div class="form-group">
                <label for="endTime">End Time</label>
                <input type="datetime-local" id="endTime" name="endTime" placeholder="End Time">
            </div>

            <div class="form-group">
                <label for="content">Description</label>
                <textarea id="content" name="content" placeholder="Content"></textarea>
            </div>

            <div class="form-group">
                <label for="image">Image</label>
                <input type="file" id="image" name="image" placeholder="Image" required>
            </div>

            <button type="submit" class="submit-button">Create Event</button>
    </form>
</div>
<%- include('../partials/footer.ejs')%>